{{ define "index.tmpl" }}
<html>
    {{ template "header.tmpl" }}
    <body>
        <div id="output"></div>
        <div class="command-wrap">
            <span class="command-prompt">$</span>
            <span class="line-wrap">
                <input class="command-line"  onfocus="this.value = this.value;" id="command-line" type="text" />
            </span>
        </div>
        {{ template "scripts.tmpl"}}
    </body>
</html>
{{ end }}