@badass: #BADA55;

body {
    -webkit-font-smoothing: antialiased;
    background-color: #111;
    color: @badass;
    font-family: 'Ubuntu Mono';
    font-size: 13px;
}
textarea:focus, input:focus{
    outline: none;
}

.command-line {    
    background-color: #111;
    border: none;
    color: @badass;
}